@import "tailwindcss";

:root {
  --bg-primary: #F5F5EE;
  --bg-secondary: #FFFFFF;

  --text-primary: #111111;
  --text-secondary: #6B7280;
  --text-muted: #9CA3AF;

  --border-color: #E5E7EB;

  --accent-primary: #FF6600;
  --accent-hover: #E65C00;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
}